:root {
  --greenBg: #182e1c;
  --redBg: #351614;
  --buttonMargin: 10px;
  --lapBorderColor: #333;
  --textAlignVar: center;
  --green: #42cc57;
  --red: #ff352c;
  --smallFontSize: 15px;
  --disabledColor: rgba(128, 128, 128, 0.171);
  --white: white;
  --largeFontSize: 56px;
  --buttonColor: #353535;
  --buttonText: #ccc;
  --black: #0f0f0f;
}

@font-face {
  font-family:"MyFont-UltraLight";
  src: url("./Fonts/MyFont-UltraLight.otf") format("truetype");
}
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.main__container {
  /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-family: MyFont-UltraLight;
  margin: 60px auto 0;
  width: 300px;
  height: 600px;
  text-align: var(--textAlignVar);
  background-color: var(--black);
  /* font-weight: bold; */
}

.button__container {
  display: flex;
  justify-content: space-between;
  height: 90px;
}

.button__round {
  cursor: pointer;
  font-size: var(--smallFontSize);
  border: 2px solid var(--buttonColor);
  background-color: var(--buttonColor);
  box-shadow: inset 0 0 0 2px var(--black);
  color: var(--buttonText);
  width: 80px;
  height: fit-content;
  border-radius: 100%;
  text-align: var(--textAlignVar);
  line-height: 76px;
  margin-left: var(--buttonMargin);
  margin-right: var(--buttonMargin);
  top: 0;
  left: 0;
}

button:hover {
  cursor: pointer;
}

.green {
  background-color: var(--greenBg);
  border-color: var(--greenBg);
  color: var(--green);
}

.red {
  background-color: var(--redBg);
  border-color: var(--redBg);
  color: var(--red);
}

.minLap {
  color: var(--green);
}

.maxLap {
  color: var(--red);
}

#primary__button {
  margin-right: var(--buttonMargin);
}

#secondary__button {
  margin-left: var(--buttonMargin);
}

#display__laps_container {
  color: var(--white);
  text-align: var(--textAlignVar);
  font-size: var(--smallFontSize);
  width: 100%;
  height: 300px;
}

.laps__table {
  list-style: none;
  margin: 0;
  padding-left: 0;
  border-top: 1px solid var(--lapBorderColor);
  font-size: var(--smallFontSize);
  overflow-y: auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.table__item-row {
  display: flex;
  border-bottom: 1px solid gray;
}

.item__row-index {
  margin-right: 168px;
  margin-left: 9px;
}

.lapItem {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid var(--lapBorderColor);
  margin: 4px;
  display: flex;
  justify-content: space-between;
  height: 40px;
}

.lapItem span {
  margin-left: 5px;
  margin-right: 15px;
}

.lapNumber {
  margin-top: 6px;
}

.lapTime {
  display: inline-block;
  margin-left: 25px;
  border-radius: 5px;
  margin: 5px;
}

#display__timer_container {
  width: 100%;
  height: 200px;
  color: var(--white);
  padding-top: 60px;
  font-size: var(--largeFontSize);
}

.button__round:disabled {
  background-color: var(--disabledColor);
}